      <section class="contact">
        <h2> {{ meta.header2 }}</h2>

        <div class="contact__list">
<!-- § Business Email -->
          <div class="contact__email">
            <i class="fas fa-envelope"></i> Email
            <div class="text-secondary"> {{ meta.bizemail1 }}</div>
          </div>
<!-- § Business Phone -->
          <div class="contact__phone">
            <i class="fas fa-mobile-alt"></i> Phone
            <div class="text-secondary"> {{ meta.bizphone1 }}</div>
          </div>
<!-- § Business Address -->
          <div class="contact__address">
            <i class="fas fa-marker-alt"></i> Address
            <div class="text-secondary"> {{ meta.bizaddress1 }}</div>
          </div>
        </div>

        {% include "components/social-icons.njk" %}

      </section>