<!-- § PARTIALS: Footer -->
        <footer>
          &copy;
          <a href="./" target="_blank" rel="noopener">
            <img src="assets/logo/logo.png" alt="DAVIT" height="11px" />
          </a>
          2008-25
        </footer>