      <section class="home">
        <img src="assets/logo/logo.png" alt="DAVIT" sizes="25px" srcset="" />
        <h2>Welcome</h2>
        <h1 class="home__name">DAVIT Technologies</h1>
        <h2>Web Development, Design & Hosting</h2>

        {% from "macros/macros.njk" import section, cta, button_cta %}
  
        {% call cta("cta") %}
          

        {{ button_cta("Learn More", "/about.html", "primary") }}
        
        {% endcall %}

      
        {% include "components/social-icons.njk" %}

        </section>