<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" type="image/svg+xml" href="assets/favicon/favicon.svg" />
    <link rel="shortcut icon" href="assets/favicon/favicon.ico" />
    <link
      rel="icon"
      type="image/png"
      href="assets/favicon/favicon-96x96.png"
      sizes="96x96"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="assets/favicon/apple-touch-icon.png"
    />
    <script src="https://kit.fontawesome.com/d7f375b5fc.js"></script>
    <link rel="stylesheet" href="css/main.css" />
    <title>Davit Portfolio</title>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  {% include "partials/header.njk" %}

  <main>
    {# section class="home" #}
    {% include "partials/home.njk" %}


    {% from "partials/macros.njk" import section, button %}
    {{ section("about", "Your about text") }}
    {{ button("Learn More", "/about") }}
  </main>

  {% include "partials/footer.njk" %}
</body>
</html>