<!DOCTYPE html>
<html lang="en">
  {% include "partials/head.njk" %}
<body>
  {% include "partials/header.njk" %}

  <main>
    {# section class="home" #}
    {% include "partials/projects.njk" %}
  </main>

  {% include "partials/footer.njk" %}
</body>
</html>