      <section class="home">
        <img src="assets/logo/logo.png" alt="DAVIT" sizes="25px" srcset="" />
        <h2>Welcome</h2>
        <h1 class="home__name">DAVIT Technologies</h1>
        <h2>Web Development, Design & Hosting</h2>

        <div class="social-icons">
          <a href="#!">
            <i class="fab fa-twitter fa-2x"></i>
          </a>
          <a href="#!">
            <i class="fab fa-facebook fa-2x"></i>
          </a>
          <a href="#!">
            <i class="fab fa-instagram fa-2x"></i>
          </a>
          <a href="https://davittec.github.io/davit-sass-web-start/">
            <i class="fab fa-github fa-2x"></i>
          </a>
        </div>
        </section>